:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --primary: #2196f3;
  --primary-hover: #1e88e5;
  --secondary: #fff;
  --skeleton-base: #e0e0e0;
  --skeleton-glow: #f5f5f5;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --primary: ##64b5f6;
    --primary-hover: #90caf9;
    --secondary: #1e1e1e;
    --skeleton-base: #2c2c2c;
    --skeleton-glow: #3a3a3a;
  }
}

body {
  margin: 0;
  color: var(--text);
  background: var(--bg);
}

h1,
h2 {
  font-family: var(--sans);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
  @media (max-width: 640px) {
    font-size: 28px;
    letter-spacing: -0.84px;
    margin: 16px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
  @media (max-width: 640px) {
    font-size: 18px;
  }
}
p {
  margin: 0;
}